<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>My app</ion-title>
    <ion-buttons slot="end" routerLink="/addMusic">
      <ion-img  class="img" src="/assets/lista-de-reproduccion.png"></ion-img>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My playList</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <!-- Ionic Card -->
          <ion-card color="light">
              <ion-card-header color="secondary">
                  <ion-card-title>
                    PlayList
                  </ion-card-title>
              </ion-card-header>
              <ion-card-content>
              <ion-list *ngFor="let cancion of track;" (click)="detail(cancion.name, cancion.duration, imagen)">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="{{imagen}}">
                  </ion-avatar>
                  <ion-label>
                    <h3>Cansion: {{cancion.name}}</h3>
                    <p>Duracion: {{cancion.duration}}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
